*{
    padding: 0;
    margin: 0;
}
.FullScreen{
    /* width: 100vw; */
    height: 100vh;
    background-color:white; 
    /* display:flex ; */
  
}
.MainDiv{
    padding: 20px;
    border: 1px solid black;
    border-radius:7px;
    /* width: 100%;
    height: 100%; */
    
}

.Button1{
    /* background-color: aquamarine;
    background-color: #0a0a93; */
}

.LeftSidefs{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.RightSide{
    width: 100%;
    height: 100%;
}