.FullScreen{
    background-color: #060626;
    width: 100vw;
    height: 100vh;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.MainDiv{
    padding: 20px;
    background-color: white;
    border-radius:20px;
    
}

.Button1{
    background-color: aquamarine;
    background-color: #0a0a93;
}